<div id="cart" class="header-cart" title="{{ text_modal_heading }}">
	<div class="header-cart__btn dropdown-toggle" onclick="uniModalWindow('modal-cart', '', '{{ text_modal_heading }}', $('header').find('.header-cart__dropdown').html())">

<svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.0833 25.5C8.34165 25.5 6.93248 26.925 6.93248 28.6667C6.93248 30.4084 8.34165 31.8334 10.0833 31.8334C11.825 31.8334 13.25 30.4084 13.25 28.6667C13.25 26.925 11.825 25.5 10.0833 25.5ZM2.16665 3.33335H3.74998L9.44998 15.3509L7.31248 19.2142C6.15665 21.3359 7.67665 23.9167 10.0833 23.9167H27.5C28.3708 23.9167 29.0833 23.2042 29.0833 22.3334C29.0833 21.4625 28.3708 20.75 27.5 20.75H10.0833L11.825 17.5834H23.6208C24.8083 17.5834 25.8533 16.9342 26.3916 15.9525L32.06 5.67669C32.6458 4.63169 31.8858 3.33335 30.6825 3.33335H7.24915L6.18831 1.06919C5.93498 0.51502 5.36498 0.166687 4.76331 0.166687H2.16665C1.29581 0.166687 0.583313 0.879187 0.583313 1.75002C0.583313 2.62085 1.29581 3.33335 2.16665 3.33335ZM25.9166 25.5C24.175 25.5 22.7658 26.925 22.7658 28.6667C22.7658 30.4084 24.175 31.8334 25.9166 31.8334C27.6583 31.8334 29.0833 30.4084 29.0833 28.6667C29.0833 26.925 27.6583 25.5 25.9166 25.5Z" fill="white"/>
</svg>

		{# <span id="cart-total" class="header-cart__total-items">{{ items }}</span> #}
	</div>
	<div class="header-cart__dropdown">
		{% if products or vouchers %}
			<div class="header-cart__wrapper" data-products="{% for i, product in products %}{{ product.product_id }}{{ i + 1 < products|length ? ', ' }}{% endfor %}">
			{% for product in products %}
				<div class="header-cart__item">
					{% if product.thumb %}
						<div class="header-cart__image">
							<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" {{ product.stock is empty ? 'style="filter:grayscale(1)"' }} /></a>
						</div>
					{% endif %}
					<div class="header-cart__item-wrapper">
						<div class="header-cart__name">
							<a href="{{ product.href }}">{{ product.name }}</a>
							{% if not product.stock %}
								<div class="header-cart__stock">{{ error_cart_stock }}</div>
							{% endif %}
							{% if product.option %}
								{% for option in product.option %}
									<div class="header-cart__option-item">{{ option.name }}: {{ option.value }}</div>
								{% endfor %}
							{% endif %}
							{% if product.recurring %}
								<div class="header-cart__recurring">{{ text_recurring }} {{ product.recurring }}</div>
							{% endif %}
						</div>
						<div class="header-cart__quantity">
							<div class="qty-switch qty-switch__cart">
								<i class="qty-switch__btn fa fa-minus"></i>
								<input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" data-minimum="{{ product.minimum }}" data-cid="{{ product.cart_id }}" data-pid="{{ product.product_id }}" class="qty-switch__input form-control" />
								<i class="qty-switch__btn fa fa-plus"></i>
							</div>
						</div>
						<div class="header-cart__price hidden-xs"><div class="header-cart__price-text">{{ column_price }}</div>{{ product.price }}</div>
						<div class="header-cart__total"><div class="header-cart__total-text hidden-xs">{{ column_total }}</div>{{ product.total }}</div>
					</div>
					<div class="header-cart__remove">
						<button type="button" onclick="cart.remove('{{ product.cart_id }}', {{ product.product_id }});" title="{{ button_remove }}" class="header-cart__remove-btn"><i class="far fa-trash-alt"></i></button>
					</div>
				</div>
			{% endfor %}
			{% for voucher in vouchers %}
				<div class="header-cart__item">
					<div></div>
					<div class="header-cart__item-wrapper">
						<div class="header-cart__name">{{ voucher.description }}</div>
						<div class="header-cart__quantity"></div>
						<div class="header-cart__price hidden-xs"><div class="header-cart__price-text">{{ column_price }}</div>{{ voucher.amount }}</div>
						<div class="header-cart__total"><div class="header-cart__total-text hidden-xs">{{ column_total }}</div>{{ voucher.amount }}</div>
					</div>
					<div class="header-cart__remove">
						<button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="header-cart__remove-btn"><i class="far fa-trash-alt"></i></button>
					</div>
				</div>
			{% endfor %}
			</div>
			<div class="header-cart__totals">
				{% for total in totals %}
					<div class="header-cart__totals-item">
						<div class="header-cart__totals-title">{{ total.title }}:</div>
						<div class="header-cart__totals-text">{{ total.text }}</div>
					</div>
				{% endfor %}
			</div>
			<div class="header-cart__buttons">
				<button type="button" class="btn btn-lg btn-default" data-dismiss="modal">{{ button_continue_shopping }}</button>
				{% if uni_checkout_href %}
					<a href="{{ uni_checkout_href }}" class="btn btn-lg btn-primary">{{ button_to_checkout }}</a>
				{% else %}
					<!-- <a href="{{ cart }}"><small>{{ text_cart }}</small></a>&nbsp;&nbsp;&nbsp; -->
					<a href="{{ checkout }}" class="btn btn-primary">{{ text_checkout }}</a>
				{% endif %}
			</div>
		{% else %}
			<div class="header-cart__empty"><i class="header-cart__icon-empty fas fa-shopping-bag"></i><br />{{ text_empty }}</div>
		{% endif %}
	</div>
</div>